.btn-normal {
    background-color: green;
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
    width: 100px;
    color: white;
    border: 1px solid white;
}

.btn-reset {
    background-color: red;
    border: none;
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
    width: 200px;
    color: white;
}

.count {
    font-size: 50px;
    padding: 15px 30px;
}